borderColor = rgba(40,198,222,1);
color = rgba(39,189,202,1);
disabledColor = rgba(39,189,202,0.5);
backgroundColor = rgba(12,82,89,1);
highLightColor = rgba(8,193,199,1);

html,body{
  font: 14px/1.5 "Microsoft YaHei", Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-size: cover;
  margin:0;
  padding:0;
}
ul,li,ol,tt,lt{
  list-style : none;
  margin: 0;
  padding: 0;
}
/*chrome scrollbar*/
::-webkit-scrollbar {width: 8px;height:8px;}
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px #28c6de;-webkit-border-radius: 6px;border-radius: 6px;}
::-webkit-scrollbar-track-piece {background: #314552;}
::-webkit-scrollbar-thumb {-webkit-border-radius:6px;border-radius: 6px;background: #28c6de;-webkit-box-shadow: inset 0 0 6px #28c6de;}
::-webkit-scrollbar-thumb:window-inactive {background: rgba(31, 67, 85, 0.4);}
::-webkit-scrollbar-corner  {background:#314552;}
.iconfont{
  height: 18px;
  width: 18px;
  fill: color;
}
.ant-input::-webkit-input-placeholder {
  color: color;
}
.ant-input:-moz-placeholder {
  color: color;
}
.ant-input:-ms-input-placeholder {
  color: color;
}
.ant-input,.ant-calendar-input{
  height: 30px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid borderColor;
}
.ant-calendar-picker-icon{
  color: color;
}
.ant-calendar{
  border: 1px solid borderColor;
  color: color;
  background-color: backgroundColor;
}
.ant-calendar-decade-panel-header,
.ant-calendar-year-panel-header,
.ant-calendar-header,.ant-calendar-input-wrap{
  border-bottom: 1px solid borderColor;
}
.ant-calendar-footer{
  border-top: 1px solid borderColor;
}
.ant-calendar-time-picker-select{
  border-right: 1px solid borderColor;
}
.ant-calendar-input{
  border: 0;
}
.ant-calendar-disabled-cell.ant-calendar-today .ant-calendar-date:before{
  border: 1px solid borderColor;
}
.ant-calendar .ant-calendar-ok-btn{
  color: #fff;
}
.ant-calendar-year-panel-header .ant-calendar-year-panel-prev-decade-btn,
.ant-calendar-year-panel-header .ant-calendar-year-panel-next-decade-btn,
.ant-calendar-year-panel-header .ant-calendar-year-panel-decade-select,
.ant-calendar-year-panel-year,
.ant-calendar-decade-panel-decade,
.ant-calendar-decade-panel-header .ant-calendar-decade-panel-next-century-btn,
.ant-calendar-decade-panel-header .ant-calendar-decade-panel-prev-century-btn,
.ant-calendar-month-panel-month,
.ant-calendar-month-panel-header .ant-calendar-month-panel-prev-year-btn,
.ant-calendar-month-panel-header .ant-calendar-month-panel-next-year-btn,
.ant-calendar-month-panel-header .ant-calendar-month-panel-year-select,
.ant-calendar-time .ant-calendar-day-select,
.ant-calendar-header .ant-calendar-century-select,
.ant-calendar-header .ant-calendar-decade-select,
.ant-calendar-header .ant-calendar-year-select,
.ant-calendar-header .ant-calendar-month-select
.ant-calendar-header .ant-calendar-prev-century-btn,
.ant-calendar-header .ant-calendar-next-century-btn,
.ant-calendar-header .ant-calendar-prev-decade-btn,
.ant-calendar-header .ant-calendar-next-decade-btn,
.ant-calendar-header .ant-calendar-prev-month-btn,
.ant-calendar-header .ant-calendar-next-month-btn,
.ant-calendar-header .ant-calendar-prev-year-btn,
.ant-calendar-header .ant-calendar-next-year-btn,
.ant-calendar-date{
  color: #ffffff;
}
.ant-calendar-disabled-cell .ant-calendar-date,
.ant-calendar-year-panel-next-decade-cell .ant-calendar-year-panel-year,
.ant-calendar-decade-panel-last-century-cell .ant-calendar-decade-panel-decade,
.ant-calendar-year-panel-last-decade-cell .ant-calendar-year-panel-year,
.ant-calendar-decade-panel-next-century-cell .ant-calendar-decade-panel-decade,
.ant-calendar-last-month-cell .ant-calendar-date,
.ant-calendar-next-month-btn-day .ant-calendar-date{
  color: disabledColor;
}
.ant-calendar-decade-panel-selected-cell .ant-calendar-decade-panel-decade,
.ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year,
.ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month,
.ant-calendar .ant-calendar-ok-btn,
.ant-calendar-selected-date .ant-calendar-date,
.ant-calendar-selected-start-date .ant-calendar-date,
.ant-calendar-selected-end-date .ant-calendar-date{
  background: highLightColor;
}
.ant-calendar-disabled-cell .ant-calendar-date:hover,
.ant-calendar-disabled-cell .ant-calendar-date,
.ant-calendar-year-panel,
.ant-calendar-decade-panel,
.ant-calendar-month-panel,
.ant-calendar-time-picker-inner,
li.ant-calendar-time-picker-select-option-selected{
  background: backgroundColor;
}
.ant-calendar-picker-clear{
  background: transparent;
  color: color;
}
.ant-calendar-picker-clear:hover{
  color: highLightColor;
}
.ant-calendar-picker:hover .ant-calendar-picker-clear + i{
  opacity: 0;
}
.ant-calendar .ant-calendar-ok-btn{
  border: 0;
}
.ant-calendar .ant-calendar-ok-btn-disabled:hover,
.ant-calendar .ant-calendar-ok-btn-disabled{
  background: disabledColor;
  color: #fff;
}
.ant-calendar-time .ant-calendar-footer .ant-calendar-today-btn,
.ant-calendar-time .ant-calendar-footer .ant-calendar-time-picker-btn{
  cursor: pointer;
}