body{
  font: 14px/1.5 "Microsoft YaHei", Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-size: cover;
}
ul,li,ol,tt,lt{
  list-style : none;
  margin: 0;
  padding: 0;
}
.iconfont{
  height: 18px;
  width: 18px;
  fill: #27bdca;
}