itemSize = 20;
iconSize = 18;
textPad = 5;
lineHor = 5;

lineColor = #27bdca;
lineStyle = dotted;

line = 1px lineStyle lineColor;

.Tree{
  .flexIcon{
    position: relative;
    width: itemSize px;
    cursor: pointer;
    &>iconfont{
      margin-top: 1px;
    }
  }

  &>p{
    margin: 0;
    padding: 0;
  }

  &>p>span{
    display: inline-block;
    vertical-align: text-bottom;
    height: itemSize px;
  }

  &>p>.flexIcon:before{
    content: ' ';
    border-left: line;
    border-bottom: line;
    display: inline-block;
    position: absolute;
    left: (iconSize/2) px;
    height: (itemSize/2) px;
    width: (itemSize/2) px;
    bottom: (itemSize/2) px;
  }

  &>p>.flexIcon:after{
    content: ' ';
    border-right: line;
    position: absolute;
    left: (iconSize/2) px;
    height: (itemSize/2) px;
    top: (itemSize/2) px;
  }

  &.nonLeaf>p>.flexIcon:before{
    bottom: ((itemSize + iconSize)/2) px;
    height: ((itemSize - iconSize)/2) px;
    border-bottom: 0;
  }

  &.nonLeaf>p>.flexIcon:after{
    top: ((itemSize + iconSize)/2) px;
    height: ((itemSize - iconSize)/2) px;
  }

  &>p>i{
    display: inline-block;
    border-bottom: line;
    width: lineHor px;
    vertical-align: text-bottom;
    position : relative;
    bottom: (itemSize/2) px;
  }

  &.nonLeaf>p>i{
    width: (itemSize/2 - iconSize/2 + lineHor) px;
    left: 0;
  }

  &.rootNode>p>.flexIcon:before{
    border: 0;
  }

  &.lastNode>p>.flexIcon:after{
    border: 0;
  }

  &>p>.text{
    margin-left: textPad px;
  }
  &>.Tree{
    height: 0;
    overflow: hidden;
  }

}
.Tree.opened{
  &>.Tree{
    height: auto;
  }
}