.Calendar{
  border:1px solid #28c6de;
  border-radius: 4px;
  width: 264px;
  padding: 5px 2px;
  &>header{
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    &>svg{
      margin-top: 5px;
      padding: 0 12px;
      cursor: pointer;
      fill: #28c6de;
    }
    &>svg.disabled{
      opacity : 0.5;
      fill: #28c6de;
      cursor: default;
      pointer-events : none;
    }
    &>.Select{
      min-width: 80px;
      margin: 0 5px;
    }
  }
  &>ul{
    display : flex;
    flex-direction : row;
    margin-bottom: 5px;
    &>li{
      flex: auto;
      text-align: center;
    }
  }
  &>div{
    margin-bottom: 5px;
    &>span{
      border: 1px solid #28c6de;
      display: inline-block;
      height: 30px;
      width: 36px;
      line-height: 30px;
      text-align: center;
      margin-right: 2px;
      margin-bottom: 2px;
      box-sizing: border-box;
      vertical-align: bottom;
      cursor: pointer;
      color: #3397b3;
    }
    &>span:hover{
      color: #28c6de;
    }
    &>span:nth-child(7n){
      margin-right: 0;
    }
    &>span.empty{
      opacity : 0;
      pointer-events : none;
    }
    &>span.disabled{
      opacity : 0.5;
      pointer-events : none;
    }
    &>span.selected{
      border: 1px solid #15879c;
      background: #156473;
      color: #dddddd;
    }
    &>span.selected:hover{
      color: #ffffff;
    }
    &>span.today{
      background: #2091a2;
      color: #dddddd;
    }
    &>span.today:hover{
      color: #ffffff;
    }
  }
}