.Calendar{
  border:1px solid #28c6de;
  border-radius: 4px;
  width: 264px;
  padding: 2px;
  &>header{
    height: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    &>svg{
      margin-top: 5px;
      padding: 0 12px;
      cursor: pointer;
    }
    &>.Select{
      min-width: 80px;
      padding: 0 5px;
    }
  }
  &>ul{
    display : flex;
    flex-direction : row;
    margin-bottom: 5px;
    &>li{
      flex: auto;
      text-align: center;
    }
  }
  &>div{
    margin-bottom: 5px;
    &>span{
      border: 1px solid #28c6de;
      display: inline-block;
      height: 30px;
      width: 36px;
      line-height: 30px;
      text-align: center;
      margin-right: 2px;
      margin-bottom: 2px;
      box-sizing: border-box;
    }
    &>span:nth-child(7n){
      margin-right: 0;
    }
  }
}