.tree_icon{
  &.container_root{
    background-image: url("./images/tree_1.png");
  }
  &.bay_statistic{
    background-image: url("./images/tree_2.png");
  }
  &.factory{
    background-image: url("./images/tree_2.png");
  }
  &.container_period{
    background-image: url("./images/tree_3.png");
  }
  &.container_line{
    background-image: url("./images/tree_4.png");
  }
  &.bay_turbine{
    background-image: url("./images/tree_5.png");
  }
  &.bay_other{
    background-image: url("./images/tree_5.png");
  }
}