.Grid{
  background-color: transparent;
  border:1px solid #18565c;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 14px;
  position: relative;
  .scroll-x{
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .scroll-y{
    flex: auto;
    overflow-y: auto;
    overflow-x: auto;
  }
}
.Grid-rewidth{
  position: absolute;
  height: 100%;
  width: 2px;
  border-left: 9px solid rgba(0,0,0,0);
  border-right: 9px solid rgba(0,0,0,0);
  z-index: -1;
  &:after{
    content: "";
    display: block;
    height: 100%;
    width: 2px;
    background-color: #97999a;
  }
}
.Grid-header{
  display: flex;
  flex-direction: row;
  overflow : hidden;
  overflow-y: hidden;
  flex: none;
  margin-right: 8px;
  &>.th{
    background: rgba(0,0,0,0.4);
    flex: auto;
    text-align: center;
    line-height: 26px;
    border-right: 1px solid #3d718f;
    cursor: pointer;
    &>svg.sort{
      width: 10px;
      fill: #32878a;
      position: relative;
      &.desc{
        top: 6px;
        right: 10px;
      }
      &.active{
        fill: #34becc;
      }
    }
    &>a.rewidth{
      display: inline-block;
      height: 100%;
      width: 3px;
      border: 1px solid #ffffff00;
      box-sizing: border-box;
      float: right;
      left: 2px;
      position: relative;
      cursor: col-resize;
    }
    &>a.rewidth:focus{
      background-color: #ffffff;
    }
  }
  &>.th:hover{
    background-color: rgba(255,255,255,0.2);
  }
  &>.th.select{
    flex: none;
    width: 30px;
    &>svg{
      fill: #85c0d0;
      cursor: pointer;
      position: relative;
      top: 4px;
    }
  }
}
.Grid-body{
  width: fit-content;
  &>.tr{
    display: flex;
    flex-direction: row;
    line-height: 26px;
    cursor: pointer;
    &>.td{
      flex: auto;
      text-align: center;
      border-right: 1px solid #3d718f;
    }
    &>.td.select{
      flex: none;
      width: 30px;
      &>svg{
        fill: #85c0d0;
        position: relative;
        top: 3px;
      }
    }
  }
  &>.tr:hover{
    background-color: rgba(255,255,255,0.2);
  }
  &>.tr.selected{
    background-color: rgba(255,255,255,0.2);
  }
  &>.tr:last-child{
    border-bottom: 1px solid #3d718f;
  }
  &>.tr:nth-child(2n){
    background: rgba(255,255,255,.1);
  }
  &>.tr:nth-child(2n):hover{
    background-color: rgba(255,255,255,0.2);
  }
  &>.tr:nth-child(2n).selected{
    background-color: rgba(255,255,255,0.2);
  }
}
.Grid-footer{
  flex: none;
  &>div{
    line-height: 26px;
    margin: 5px auto;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &>p{
      margin: 0;
      flex: auto;
      min-width: 30px;
      position: relative;
      height: 26px;
      &>span{
        position: absolute;
        right: 5px;
      }
    }
    &>input{
      width: 30px;
      height: 26px;
      line-height: 18px;
      text-align: center;
      border: 1px solid #3d718f;
      background-color: transparent;
      color: #ffffff;
      margin-right: 5px;
      box-sizing: border-box;
      border-radius: 4px;
    }
    &>svg{
      width: 14px;
      position: relative;
      top: 3px;
      cursor: pointer;
      opacity : 0.5;
      &:hover{
        opacity: 1;
      }
      &.disabled{
        cursor: default;
        opacity: 0.2;
      }
      &.disabled:hover{
        opacity: 0.2;
      }
    }
    &>span{
      letter-spacing: 4px;
      flex: none;
    }
    &>.Select{
      min-width: auto;
      margin-left: 10px;
      margin-right: 5px;
      &>.text{
        border-color: #3d718f;
        height: 26px;
        line-height: 18px;
        color: #ffffff;
        width: 50px;
        padding: 0 3px 0 3px;
        text-align: center;
        &>.iconfont{
          margin-top: 1px;
        }
      }
      &>.list{
        bottom: 26px;
        border-color: #3d718f;
      }
    }
  }
}