sc = 255;

nth2 = rgba(sc,sc,sc,0.1);
nth2Active  = rgba(sc,sc,sc,0.3);
normalActive = rgba(sc,sc,sc,0.2);

.Grid{
  background-color: transparent;
  border:1px solid #18565c;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  font-size: 14px;
  position: relative;
  .scroll-x{
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .scroll-y{
    flex: auto;
    overflow: hidden;
    z-index: 1;
  }
  .scroll-y:hover{
    overflow: auto;
  }
}
.Grid-rewidth{
  position: absolute;
  height: 100%;
  width: 2px;
  border-left: 9px solid rgba(0,0,0,0);
  border-right: 9px solid rgba(0,0,0,0);
  z-index: -1;
  opacity: 0;
  &:after{
    content: "";
    display: block;
    height: 100%;
    width: 2px;
    background-color: #97999a;
  }
}
.Grid-header{
  overflow : hidden;
  overflow-y: hidden;
  flex: none;
  z-index: 2;
  &>ul{
    display: flex;
    flex-direction: row;
    width: fit-content;
  }
  .gfixed-panel{
    position: absolute;
    // height: 26px;
    left: 0;
    display: flex;
    flex-direction: row;
    background-color: #012130;
    z-index: 2;
  }
  .search-head .gfixed-panel{
    height: 34px;
  }
  .search-head{
    height: 34px;
    .th{
      border-top: 1px solid #3d718f;
    }
  }
  .search-head .th{
    height: 34px;
  }
  .th{
    background: rgba(0,0,0,0.4);
    flex: auto;
    text-align: center;
    border-right: 1px solid #3d718f;
    cursor: pointer;
    box-sizing: content-box;
    line-height: 26px;
    word-break: keep-all;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    &>svg.sort{
      width: 10px;
      fill: #32878a;
      position: relative;
      &.desc{
        top: 6px;
        right: 10px;
      }
      &.active{
        fill: #34becc;
      }
    }
    &>a.rewidth{
      display: inline-block;
      height: 100%;
      width: 6px;
      border: 1px solid #ffffff00;
      box-sizing: border-box;
      float: right;
      left: 3px;
      position: relative;
      cursor: col-resize;
    }
    &>a.rewidth:focus{
      background-color: #ffffff;
    }
    &>span{
      display: inline-flex;
      height: 100%;
      align-items: center;
    }
  }
  ul>.th:last-child{
    margin-right: 8px;  
  }
  .th.fixed{
    // position: absolute;
  }
  .th.fixed-hide{
    visibility: hidden;
    pointer-events: none;
  }
  .th:hover{
    background-color: rgba(0,0,0,0.8);
  }
  .th.select{
    flex: none;
    width: 40px;
    &>svg{
      fill: #85c0d0;
      cursor: pointer;
      position: relative;
      top: 4px;
    }
  }
  .th.serial,.th.topsign{
    flex: none;
    width: 40px;
    cursor: default;
  }
  .th.gsearch{
    cursor: default;
    &>input{
      width: 90%;
      margin: 2px 0;
    }
  }
  .th.select,.th.serial,.th.gsearch:hover{
    background: rgba(0,0,0,0.4);
  }
  .th.with-child{
    border-right: 0;
    &>p{
      margin: 0;
      border-right: 1px solid #3d718f;
      word-break: keep-all;
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
    }
    &>ul{
      display: flex;
      flex-direction: row;
      &>li{
        flex: auto;
        background: none;
      }
    }
    &>ul>.th:last-child{
      margin-right: 0;
    }
  }
}
.Grid-body{
  // overflow: auto;
  // flex: auto;
  width: fit-content;
  &>.tr,&>.tr>.gfixed-panel{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    // line-height: 34px;
    // height: 34px;
    &>.td{
      flex: auto;
      text-align: center;
      border-right: 1px solid #3d718f;
      box-sizing: content-box;
      // word-break: keep-all;
      // overflow: hidden;
      // white-space: nowrap;
      // text-overflow: ellipsis;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 0;
      word-break: break-word;
      box-sizing: border-box;
    }
    &>.td.fixed{
    }
    &>.td.fixed-hide{
      opacity: 0;
      pointer-events: none;
      // display: none;
    }
    &>.td.treesign{
      &>svg{
        height: 10px;
        width: 10px;
        vertical-align: middle;
        margin: 0 10px;
        cursor: pointer;
      }
    }
    &>.td.treesign.treehide{
      &>svg{
        transform: rotate(-90deg);  
      }
    }
    &>.td.select{
      flex: none;
      width: 40px;
      &>svg{
        fill: #85c0d0;
        position: relative;
        vertical-align: sub;
      }
    }
    &>.td.serial,&>.td.topsign{
      flex: none;
      width: 40px;
      cursor: default;
    }
    &>.td.topsign{
      &>svg{
        vertical-align: sub;
        fill: #85c0d0;
        height: 14px;
        width: 14px;
        cursor: pointer;
      }
    }
    &>.td.editable{
      cursor: text; 
    }
    &>.td.editable:focus{
      outline: none;
      color: #666666;
      background-color: #ffffff;
    }
  }
  &>.tr>.gfixed-panel{
    position: absolute;
    height: fit-content;
    left: 0;
    display: flex;
    flex-direction: row;
    background-color: #023750;
    z-index: 2;
    // display: none;
  }
  &>.tr:last-child{
    border-bottom: 1px solid #3d718f;
  }
  &>.tr:nth-child(2n),&>.tr:nth-child(2n)>.gfixed-panel{
    &>.td{
      background-color: nth2;
    }
    &>.td.editable:focus{
      background-color: #ffffff;
    }
  }
  &>.tr:nth-child(2n):hover,&>.tr:nth-child(2n):hover>.gfixed-panel{
    &>.td{
      background-color: nth2Active;
    }
    &>.td.editable:focus{
      background-color: #ffffff;
    }
  }
  &>.tr:nth-child(2n).selected,&>.tr:nth-child(2n).selected>.gfixed-panel{
    &>.td{
      background-color: nth2Active;
    }
    &>.td.editable:focus{
      background-color: #ffffff;
    }
  }
  &>.tr:nth-child(2n).topped,&>.tr:nth-child(2n).topped>.gfixed-panel{
    &>.td{
      background-color: rgba(53, 211, 234, 0.5);
    }
  }
  &>.tr:hover,&>.tr:hover>.gfixed-panel{
    &>.td{
      background-color: normalActive;
    }
  }
  &>.tr.selected,&>.tr.selected>.gfixed-panel{
    &>.td{
      background-color: normalActive;
    }
  }
  &>.tr.topped,&>.tr.topped>.gfixed-panel{
    &>.td{
      background-color: rgba(53, 211, 234, 0.5);
    }
    &>.td.topsign{
      &>svg{
        fill: #ffffff;
      }
    }
  }
  &>.tr:nth-child(2n).sel-forbid.selected,&>.tr:nth-child(2n).sel-forbid.selected>.gfixed-panel{
    &>.td{
      background-color: nth2;
    }
  }
  &>.tr:nth-child(2n).sel-forbid:hover,&>.tr:nth-child(2n).sel-forbid:hover>.gfixed-panel{
    &>.td{
      background-color: nth2;
    }
  }
  &>.tr.sel-forbid.selected,&>.tr.sel-forbid.selected>.gfixed-panel{
    &>.td{
      background-color: transparent;
    }
  }
  &>.tr.sel-forbid:hover,&>.tr.sel-forbid:hover>.gfixed-panel{
    &>.td{
      background-color: transparent;
    }
  }
}
.Grid-body.treesign{
  &>.tr{
    border-top: 1px solid #3d718f;
  }
  &>.tr:nth-child(2n),&>.tr:nth-child(2n)>.gfixed-panel{
    &>.td{
      background: none;
    }
  }
  &>.tr:nth-child(2n):hover,&>.tr:nth-child(2n):hover>.gfixed-panel{
    &>.td{
      background-color: normalActive;
    }
  }
  &>.tr:nth-child(2n).selected,&>.tr:nth-child(2n).selected>.gfixed-panel{
    &>.td{
      background-color: normalActive;
    }
  }
  &>.tr:nth-child(2n).topped,&>.tr:nth-child(2n).topped>.gfixed-panel{
    &>.td{
      background-color: rgba(53, 211, 234, 0.5);
    }
  }
  &>.tr.topped,&>.tr.topped>.gfixed-panel{
    &>.td{
      background-color: rgba(53, 211, 234, 0.5);
    }
  }
}
.Grid-body.fixed{
  flex: none;  
  overflow: hidden;
}
.Grid-footer{
  flex: none;
  z-index: 2;
  background: #023750;
  &>div{
    line-height: 26px;
    margin: 5px auto;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &>p{
      margin: 0;
      flex: auto;
      min-width: 40px;
      position: relative;
      height: 26px;
      &>span{
        position: absolute;
        right: 5px;
      }
    }
    &>input{
      width: 40px;
      height: 26px;
      line-height: 18px;
      text-align: center;
      border: 1px solid #3d718f;
      background-color: transparent;
      color: #ffffff;
      margin-right: 5px;
      box-sizing: border-box;
      border-radius: 4px;
    }
    &>svg{
      width: 14px;
      position: relative;
      top: 3px;
      cursor: pointer;
      opacity : 0.5;
      &:hover{
        opacity: 1;
      }
      &.disabled{
        cursor: default;
        opacity: 0.2;
      }
      &.disabled:hover{
        opacity: 0.2;
      }
    }
    &>span{
      flex: none;
    }
    &>.Select{
      min-width: auto;
      margin-left: 10px;
      margin-right: 5px;
      &>.text{
        border-color: #3d718f;
        height: 26px;
        line-height: 18px;
        color: #ffffff;
        width: 50px;
        padding: 0 3px 0 3px;
        text-align: center;
        &>.iconfont{
          margin-top: 1px;
        }
      }
      &>.list{
        bottom: 26px;
        border-color: #3d718f;
      }
    }
  }
}