body,html {
  height 100%
  background-color: #023750;
}
a{
  color: aliceblue;
}

.logic-demo{
  display: flex;
  flex-direction: row;
  &>ul{
    width: 200px;
    flex: none;
  }
  &>div{
    flex:auto;
    overflow:auto;
  }
}
.Show{
  display: flex;
  flex-direction: row;
  flex: auto;
  overflow: hidden;
  &>.Grid{
    height: 100%;
    width: 100%;
  }
}