itemSize = 20;
iconSize = 18;
textPad = 5;
lineHor = 5;
nodeHeight = 30;

animateTime = 200ms;

lineColor = #27bdca;
lineStyle = dotted;

line = 1px lineStyle lineColor;
lineHidden = 1px lineStyle rgba(0,0,0,0);

.TreeItem{

  .flexIcon{
    position: relative;
    width: itemSize px;
    cursor: pointer;
    &>iconfont{
      margin-top: 1px;
    }
  }

  &>p{
    color: #35ced2;
    margin: 0;
    padding: 0;
    height: nodeHeight px;
    line-height: nodeHeight px;
    white-space: nowrap;
    &>.operate{
      cursor: pointer;
      position: relative;
      top: 3px;
      margin: 0 2px;
    }
  }

  &>p>span{
    display: inline-block;
    vertical-align: text-bottom;
    height: itemSize px;
  }

  &>p>span.icon{
    width: iconSize px;
    background-repeat: no-repeat;
    background-position : 50% 50%;
  }

  &>p>.flexIcon:before{
    content: ' ';
    border-left: line;
    border-bottom: line;
    display: inline-block;
    position: absolute;
    left: (itemSize/2 - 1) px;
    height: (nodeHeight/2) px;
    width: (itemSize/2) px;
    bottom: (itemSize/2) px;
  }

  &>p>.flexIcon:after{
    content: ' ';
    border-right: line;
    position: absolute;
    left: (itemSize/2 - 1) px;
    height: (nodeHeight/2) px;
    top: (itemSize/2) px;
  }

  &.nonLeaf>p>.flexIcon:before{
    bottom: ((itemSize + iconSize)/2) px;
    height: ((nodeHeight - iconSize)/2) px;
    border-bottom: 0;
  }

  &.nonLeaf>p>.flexIcon:after{
    top: ((itemSize + iconSize)/2) px;
    height: ((nodeHeight - iconSize)/2) px;
  }

  &.rootNode>p>.flexIcon:before{
    border: lineHidden;
  }

  &.lastNode>p>.flexIcon:after{
    border: lineHidden;
  }

  /*&.firstNode>p>.flexIcon:before{
    height: itemSize px;
  }

  &.firstNode.nonLeaf>p>.flexIcon:before{
    height: (itemSize - iconSize/2) px;
  }*/

  &>p>i{
    display: inline-block;
    border-bottom: line;
    width: lineHor px;
    vertical-align: text-bottom;
    position : relative;
    bottom: (itemSize/2) px;
  }

  &.nonLeaf>p>i{
    width: (itemSize/2 - iconSize/2 + lineHor) px;
    left: 0;
  }

  &>p>.text{
    margin-left: textPad px;
    vertical-align: inherit;
    cursor: pointer;
  }
  &>p>.text:hover,&>p>.text.checked{
    color: #f9591a;
    text-decoration: underline;
  }
  &>p>.text.searched{
    color: #f9591a;
  }
  &>.list{
    height: 0;
    overflow: hidden;
    transition: height animateTime linear;
    margin-left: (itemSize/2 - 1) px;
    padding-left: (lineHor + 1) px;
    border-left: line;
  }
  &.lastNode>.list{
    border-left: lineHidden;
  }
}
.TreeItem.opened{
  &>.list{
    height: 0;
  }
}