.Tree{
  position: relative;
  width: auto;
  display: inline-block;
  font-size: 14px;

  .search{
    &>input{
      width: 100%;
      height: 30px;
      padding-left: 3px;
      box-sizing: border-box;
    }
    &>svg{
      position:absolute;
      right: 6px;
      top: 6px;
      cursor: pointer;
    }
  }
}