.Select {

  position: relative;
  display: inline-block;

  & > .text {
    min-width : 100px;
    & > .iconfont {
      color: #35ced2;
      float: right;
      font-size: 10px;
      height: 16px;
      width: 14px;
    }
  }

  & > .list{
    display: none;
    color: #ffffff;
    border:1px solid #28c6de;
    position: absolute;
    list-style: none;
    text-align: left;
    box-sizing: border-box;
    border-top: 0;
    width: 100%;
    &>li{
      cursor: pointer;
      padding-left: 5px;
    }
    &>li:hover{
      background-color: rgba(255,255,255,0.1);
    }
    &>li.checked{
      background-color: rgba(255,255,255,0.3);
    }
  }

  &.opened{
    & > .list{
      display: block;
    }
  }

  &.disabled {
    opacity: 0.4;
    cursor: default;
  }

}