.Select {
  vertical-align: top;
  position: relative;
  display: inline-block;
  min-width : 100px;

  & > .text {
    width: 100%;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    & > .iconfont {
      color: #35ced2;
      float: right;
      font-size: 10px;
      height: 16px;
      width: 14px;
      margin-top: 4px;
    }
  }

  & > .list{
    display: none;
    color: #ffffff;
    border:1px solid #28c6de;
    position: absolute;
    list-style: none;
    text-align: left;
    box-sizing: border-box;
    border-top: 0;
    width: 100%;
    z-index: 99;
    background-color: rgba(12,71,89,0.5);
    padding-bottom: 5px;
    line-height: 30px;
    max-height: 200px;
    overflow: auto;
    background-color: #001920;
    &>li{
      cursor: pointer;
      padding-left: 10px;
      margin-top: 5px;
    }
    &>li:hover{
      background-color: rgba(255,255,255,0.1);
    }
    &>li.checked{
      background-color: rgba(255,255,255,0.3);
    }
  }

  &.up>.list{
    bottom: 30px;
    border-bottom: 0;
    border-top: 1px solid #28c6de;
  }

  &.multi{
    width: 200px;
    .Button:hover{
      opacity : 1;
    }
    & > .text > span{
      width: 100%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & > .text:hover{
      overflow: visible;
      &>span{
        white-space: pre-line;
        box-shadow: 0 0 6px rgba(0,0,0,0.4);
        padding: 0 5px;
        box-sizing: border-box;
      }
    }
    &>.list>li{
      &.checked{
        background-color:transparent;
      }
      .mutli-sign{
        float: right;
        margin-right: 2px;
        margin-top: 5px;
      }
    }
    .multi-text{
      padding: 2px 5px;
      border-radius: 3px;
      vertical-align: top;
      margin-right: 5px;
      box-shadow: 0 0 2px rgba(255,255,255,0.5);
      &>svg{
        vertical-align: middle;
        margin-left: 5px;
        height: 14px;
        width: 14px;
      }
    }
  }

  &.opened{
    & > .list{
      display: block;
    }
  }

  &.disabled {
    opacity: 0.4;
    cursor: default;
  }
}