.Cutover{
  display: flex;
  flex-direction: row;
  height: 30px;
  line-height: 30px;
  &>li.arrow{
    flex: auto;
    &>svg{
      fill: rgba(255,255,255,0.2);
      height: 25px;
      width: 25px;
      cursor : pointer;
      margin: 3px 0;
    }
    &>svg:hover{
      fill: rgba(255,255,255,0.5);
    }
  }
  &>li.arrow.prev{
    text-align: right;
  }
  &>li.show{
    overflow: hidden;
    display: flex;
  }
}
.Cutover.disabled{
  &>li.arrow>svg{
    cursor : default;
    fill: rgba(255,255,255,0.1);
    pointer-events : none;
  }
}
.CutoverItem{
  display: block;
  text-align: center;
  flex: none;
}