.Datepicker{
  & > .list {
    display: none;
    color: #ffffff;
    position: absolute;
    z-index: 99;
    border:1px solid #28c6de;
    .Calendar{
      border: 0;
    }
  }
  & > .text {
    min-width: 170px;
    &>svg{
      position: relative;
      top: 3px;
      left: 3px;
    }
  }
  &.opened{
    & > .list{
      display: block;
    }
  }
  .control{
    margin: 0;
    margin-bottom: 5px;
    text-align: right;
    line-height: 30px;
    padding: 0 2px;
    & > a{
      cursor: pointer;
      margin-right: 5px;
    }
    & > .clear {
      float: left;
    }
  }
}