.From{

}
.FormItem{
  display: flex;
  flex-direction : row;
  margin-bottom: 20px;
  &>label{
    width: 25%;
    display: inline-block;
    margin-right: 10px;
    text-align: right;
  }
  &>label:after{
    content: ':';
    margin: 0 5px;
  }
  &>div{
    width: 50%;
    &>div{
      width: 100%;
    }
    &>span{
      width: 100%;
    }
  }
}
.FormItem.noLabel{
  &>label:after{
    content: ':';
    margin: 0 5px;
    opacity: 0;
  }
}